Makefile
Makefile.in
config.h
config.h.in
aclocal.m4
configure
stamp-*
src/dfcgen-gtk
po/Makevars.template
po/POTFILES
po/Rules-quot
po/*.pot
po/*.gmo
po/*.sed
po/*.sin
po/*.in
po/*.header
m4/
build/
doc/html/
doc/latex/
